@using GardenViewModel
@model OrderViewModel
@{
    double total = 0;

}
<div class="main-nav shadow-sm">
    @Html.Action("HeaderMenu", "Home")
</div>
</div>
<section class="py-5 account-page bg-light">
    <div class="container">
        <div class="row">
            @Html.Action("MyAccountLeftMenu")
            <div class="col-md-9">
                <div class="osahan-account-page-right rounded shadow-sm bg-white p-4 h-100">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="order-list" role="tabpanel" aria-labelledby="order-list-tab">
                            <h4 class="text-dark mt-0 mb-4">Order Detail</h4>
                            <div class="order-list-tabel-main table-responsive">
                                <table class="datatabel table table-striped table-bordered order-list-tabel" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Product Name</th>
                                            <th>Price</th>
                                            <th>Quantity</th>
                                            <th>Sub Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (OrderDetailsViewModel odt in Model.ProductList)
                                        {
                                            <tr>
                                                <td><img alt="@odt.ProductName" title="@odt.ProductName" src="~/Areas/Admin/UploadImg/ProductImg/@odt.Image" width="100"></td>
                                                <td>@odt.ProductName</td>
                                                <td>₹ @odt.Price.ToString("0.00")</td>
                                                <td>@odt.Qty</td>
                                                <td>₹ @(odt.Price * odt.Qty).00</td>
                                            </tr>
                                            total += (odt.Price * odt.Qty);
                                        }
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right">Flat Shipping Rate:</td>
                                            <td>
                                                <span class="price">₹ 0.00</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3"></td>
                                            <td class="text-right">Total: </td>
                                            <td>
                                                <span class="price">₹ @total.ToString("0.00")</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Footer -->
<link href="~/Areas/UserPanel/vendor/datatables/datatables.css" rel="stylesheet" />
<script src="~/Areas/UserPanel/vendor/datatables/datatables.min.js"></script>